Structured arrays를 바탕으로 pandas를 개발

자신만의 데이터 타입을 만들수 있다.

In [1]:
import numpy as np

In [2]:
x = np.array([('Rex', 9, 81.0), ('Fido', 3, 27.0)],
              dtype=[('name', 'U10'), ('age', 'i4'), ('weight', 'f4')])

In [3]:
x[0]

('Rex', 9, 81.)

In [7]:
x[1]

('Fido', 3, 27.)

In [8]:
x[0]['name']

'Rex'

In [6]:
x['name']

array(['Rex', 'Fido'], dtype='<U10')

In [9]:
from collections import namedtuple

In [10]:
x = namedtuple('Address',['name','age','weight'])

In [11]:
a = x('Rex', 9, 81.0)

In [15]:
type(a)

__main__.Address

In [16]:
a

Address(name='Rex', age=9, weight=81.0)

In [14]:
a[0]

'Rex'

In [17]:
a[1]

9

In [18]:
a[2]

81.0

In [19]:
a.name

'Rex'

In [20]:
a.age

9

In [21]:
a.weight

81.0