In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
import seaborn as sns

In [8]:
tips = sns.load_dataset('tips')

In [12]:
tips.time.map(lambda x: 'dinner'if x == 'Dinner' else 'lunch' if x =='Lunch' else x) #한꺼번에 문자를 바꾸믐 방법 1

0      dinner
1      dinner
2      dinner
3      dinner
4      dinner
5      dinner
6      dinner
7      dinner
8      dinner
9      dinner
10     dinner
11     dinner
12     dinner
13     dinner
14     dinner
15     dinner
16     dinner
17     dinner
18     dinner
19     dinner
20     dinner
21     dinner
22     dinner
23     dinner
24     dinner
25     dinner
26     dinner
27     dinner
28     dinner
29     dinner
        ...
214    dinner
215    dinner
216    dinner
217    dinner
218    dinner
219    dinner
220     lunch
221     lunch
222     lunch
223     lunch
224     lunch
225     lunch
226     lunch
227    dinner
228    dinner
229    dinner
230    dinner
231    dinner
232    dinner
233    dinner
234    dinner
235    dinner
236    dinner
237    dinner
238    dinner
239    dinner
240    dinner
241    dinner
242    dinner
243    dinner
Name: time, Length: 244, dtype: category
Categories (2, object): [lunch, dinner]

In [14]:
tips.time.map(lambda x: x.upper()) #한꺼번에 문자를 바꾸믐 방법 2

0      DINNER
1      DINNER
2      DINNER
3      DINNER
4      DINNER
5      DINNER
6      DINNER
7      DINNER
8      DINNER
9      DINNER
10     DINNER
11     DINNER
12     DINNER
13     DINNER
14     DINNER
15     DINNER
16     DINNER
17     DINNER
18     DINNER
19     DINNER
20     DINNER
21     DINNER
22     DINNER
23     DINNER
24     DINNER
25     DINNER
26     DINNER
27     DINNER
28     DINNER
29     DINNER
        ...
214    DINNER
215    DINNER
216    DINNER
217    DINNER
218    DINNER
219    DINNER
220     LUNCH
221     LUNCH
222     LUNCH
223     LUNCH
224     LUNCH
225     LUNCH
226     LUNCH
227    DINNER
228    DINNER
229    DINNER
230    DINNER
231    DINNER
232    DINNER
233    DINNER
234    DINNER
235    DINNER
236    DINNER
237    DINNER
238    DINNER
239    DINNER
240    DINNER
241    DINNER
242    DINNER
243    DINNER
Name: time, Length: 244, dtype: category
Categories (2, object): [LUNCH, DINNER]

In [15]:
tips.time.str.upper() #한꺼번에 문자를 바꾸믐 방법 3

0      DINNER
1      DINNER
2      DINNER
3      DINNER
4      DINNER
5      DINNER
6      DINNER
7      DINNER
8      DINNER
9      DINNER
10     DINNER
11     DINNER
12     DINNER
13     DINNER
14     DINNER
15     DINNER
16     DINNER
17     DINNER
18     DINNER
19     DINNER
20     DINNER
21     DINNER
22     DINNER
23     DINNER
24     DINNER
25     DINNER
26     DINNER
27     DINNER
28     DINNER
29     DINNER
        ...
214    DINNER
215    DINNER
216    DINNER
217    DINNER
218    DINNER
219    DINNER
220     LUNCH
221     LUNCH
222     LUNCH
223     LUNCH
224     LUNCH
225     LUNCH
226     LUNCH
227    DINNER
228    DINNER
229    DINNER
230    DINNER
231    DINNER
232    DINNER
233    DINNER
234    DINNER
235    DINNER
236    DINNER
237    DINNER
238    DINNER
239    DINNER
240    DINNER
241    DINNER
242    DINNER
243    DINNER
Name: time, Length: 244, dtype: object

In [32]:
a = 'moon beauty'

In [18]:
b = '/sun/moon.jpg'

In [19]:
a.split(' ') #따옴표안에 공백이 있기떄문에 공백으로 쪼갠다.

['moon', 'beauty']

In [25]:
b.split('/',1) #왼쪽부터 짜른다.

['', 'sun/moon.jpg']

In [27]:
 b.rsplit('/',1) #오른쪽부터 짜른다.

['/sun', 'moon.jpg']

In [33]:
a.strip()

'moon beauty'

In [38]:
b.replace('moon','sun') #앞에문자를 뒤에글자로 바꿔준다.

'/sun/sun.jpg'

In [39]:
x = ['1','2','3']

In [41]:
''.join(x)  #리스트에있는 애를 하나의 단어로 묶고 싶을때

'123'

In [42]:
'-'.join(x)

'1-2-3'

In [44]:
list('123') #join 반대로

['1', '2', '3']

In [45]:
a = '1'

In [47]:
a.zfill(3)  #자릿수를 맞춰준다.

'001'

In [50]:
tips.rename({'size' : 'size_'}, axis=1)

     total_bill   tip     sex smoker   day    time  size_
0         16.99  1.01  Female     No   Sun  Dinner      2
1         10.34  1.66    Male     No   Sun  Dinner      3
2         21.01  3.50    Male     No   Sun  Dinner      3
3         23.68  3.31    Male     No   Sun  Dinner      2
4         24.59  3.61  Female     No   Sun  Dinner      4
5         25.29  4.71    Male     No   Sun  Dinner      4
6          8.77  2.00    Male     No   Sun  Dinner      2
7         26.88  3.12    Male     No   Sun  Dinner      4
8         15.04  1.96    Male     No   Sun  Dinner      2
9         14.78  3.23    Male     No   Sun  Dinner      2
10        10.27  1.71    Male     No   Sun  Dinner      2
11        35.26  5.00  Female     No   Sun  Dinner      4
12        15.42  1.57    Male     No   Sun  Dinner      2
13        18.43  3.00    Male     No   Sun  Dinner      4
14        14.83  3.02  Female     No   Sun  Dinner      2
15        21.58  3.92    Male     No   Sun  Dinner      2
16        10.33  1.67  Female     No   Sun  Dinner      3
17        16.29  3.71    Male     No   Sun  Dinner      3
18        16.97  3.50  Female     No   Sun  Dinner      3
19        20.65  3.35    Male     No   Sat  Dinner      3
20        17.92  4.08    Male     No   Sat  Dinner      2
21        20.29  2.75  Female     No   Sat  Dinner      2
22        15.77  2.23  Female     No   Sat  Dinner      2
23        39.42  7.58    Male     No   Sat  Dinner      4
24        19.82  3.18    Male     No   Sat  Dinner      2
25        17.81  2.34    Male     No   Sat  Dinner      4
26        13.37  2.00    Male     No   Sat  Dinner      2
27        12.69  2.00    Male     No   Sat  Dinner      2
28        21.70  4.30    Male     No   Sat  Dinner      2
29        19.65  3.00  Female     No   Sat  Dinner      2
..          ...   ...     ...    ...   ...     ...    ...
214       28.17  6.50  Female    Yes   Sat  Dinner      3
215       12.90  1.10  Female    Yes   Sat  Dinner      2
216       28.15  3.00    Male    Yes   Sat  Dinner      5
217       11.59  1.50    Male    Yes   Sat  Dinner      2
218        7.74  1.44    Male    Yes   Sat  Dinner      2
219       30.14  3.09  Female    Yes   Sat  Dinner      4
220       12.16  2.20    Male    Yes   Fri   Lunch      2
221       13.42  3.48  Female    Yes   Fri   Lunch      2
222        8.58  1.92    Male    Yes   Fri   Lunch      1
223       15.98  3.00  Female     No   Fri   Lunch      3
224       13.42  1.58    Male    Yes   Fri   Lunch      2
225       16.27  2.50  Female    Yes   Fri   Lunch      2
226       10.09  2.00  Female    Yes   Fri   Lunch      2
227       20.45  3.00    Male     No   Sat  Dinner      4
228       13.28  2.72    Male     No   Sat  Dinner      2
229       22.12  2.88  Female    Yes   Sat  Dinner      2
230       24.01  2.00    Male    Yes   Sat  Dinner      4
231       15.69  3.00    Male    Yes   Sat  Dinner      3
232       11.61  3.39    Male     No   Sat  Dinner      2
233       10.77  1.47    Male     No   Sat  Dinner      2
234       15.53  3.00    Male    Yes   Sat  Dinner      2
235       10.07  1.25    Male     No   Sat  Dinner      2
236       12.60  1.00    Male    Yes   Sat  Dinner      2
237       32.83  1.17    Male    Yes   Sat  Dinner      2
238       35.83  4.67  Female     No   Sat  Dinner      3
239       29.03  5.92    Male     No   Sat  Dinner      3
240       27.18  2.00  Female    Yes   Sat  Dinner      2
241       22.67  2.00    Male    Yes   Sat  Dinner      2
242       17.82  1.75    Male     No   Sat  Dinner      2
243       18.78  3.00  Female     No  Thur  Dinner      2

[244 rows x 7 columns]

In [56]:
tips.rename(columns={'size' : 'size_'},inplace=True) #axis개념 필요없다.

In [62]:
tips['size_'].map({2:'s'})

0        s
1      NaN
2      NaN
3        s
4      NaN
5      NaN
6        s
7      NaN
8        s
9        s
10       s
11     NaN
12       s
13     NaN
14       s
15       s
16     NaN
17     NaN
18     NaN
19     NaN
20       s
21       s
22       s
23     NaN
24       s
25     NaN
26       s
27       s
28       s
29       s
      ...
214    NaN
215      s
216    NaN
217      s
218      s
219    NaN
220      s
221      s
222    NaN
223    NaN
224      s
225      s
226      s
227    NaN
228      s
229      s
230    NaN
231    NaN
232      s
233      s
234      s
235      s
236      s
237      s
238    NaN
239    NaN
240      s
241      s
242      s
243      s
Name: size_, Length: 244, dtype: object

In [78]:
tips['size_'] = tips['size_'].astype('str')

In [79]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size_         244 non-null object
dtypes: category(4), float64(2), object(1)
memory usage: 7.2+ KB

In [54]:
tips.rename(index={0:'ㅁ'})

     total_bill   tip     sex smoker   day    time  size
ㅁ         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]